In [16]:
import pandas as pd
import numpy as np
import datetime


from vnpy.trader.object import BarData, TickData, HistoryRequest
from vnpy.trader.constant import Exchange, Interval
from vnpy.trader.database import database_manager

In [43]:
file_path = "../FirstRateData/futures-active_1min_4zl13/ES_continuous_adjusted_1min.txt"
header_list = ['DateTime', 'Open', 'High', 'Low', 'Close', 'Volume']

es_df = pd.read_csv(file_path, 
                    header=None,
                    names = header_list)

In [44]:
import math

print(es_df.shape)
partial = math.floor(es_df.shape[0]/15)
print(partial)

(5209931, 6)
347328

In [45]:
es_df = es_df.iloc[-partial:]
es_df.shape

(347328, 6)

In [46]:
es_df.head()

                    DateTime     Open     High      Low    Close  Volume
4862603  2020-01-23 07:40:00  3275.00  3275.25  3274.50  3275.00     313
4862604  2020-01-23 07:41:00  3275.00  3275.50  3275.00  3275.50     189
4862605  2020-01-23 07:42:00  3275.50  3275.75  3275.25  3275.25     314
4862606  2020-01-23 07:43:00  3275.25  3275.50  3275.25  3275.25     332
4862607  2020-01-23 07:44:00  3275.25  3275.50  3275.00  3275.50     233

In [47]:
es_df.to_csv("../FirstRateData/futures-active_1min_4zl13/ES_continuous_adjusted_1min_1yrs.txt", index=False)

In [4]:
# use pandas datetime: 

es_df['DateTime'] =  pd.to_datetime(es_df['DateTime'])

In [27]:
# use native python datetime lib: 

es_df['DateTime'] = es_df['DateTime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [ ]:
from pytz import timezone

DB_TZ = timezone(SETTINGS["database.timezone"])
dt = dt.astimezone(DB_TZ)

In [5]:
for ix, row in es_df.iloc[0:30].iterrows():
    print(row.DateTime, row.Open)

2005-09-06 16:00:00 1138.25
2005-09-06 17:00:00 1138.25
2005-09-06 18:00:00 1138.5
2005-09-06 19:00:00 1138.0
2005-09-06 20:00:00 1138.25
2005-09-06 21:00:00 1138.25
2005-09-06 22:00:00 1137.75
2005-09-06 23:00:00 1138.0
2005-09-07 00:00:00 1137.5
2005-09-07 01:00:00 1138.0
2005-09-07 02:00:00 1138.0
2005-09-07 03:00:00 1138.25
2005-09-07 04:00:00 1138.0
2005-09-07 05:00:00 1137.75
2005-09-07 06:00:00 1137.25
2005-09-07 07:00:00 1137.0
2005-09-07 08:00:00 1137.75
2005-09-07 09:00:00 1136.75
2005-09-07 10:00:00 1136.5
2005-09-07 11:00:00 1138.75
2005-09-07 12:00:00 1137.75
2005-09-07 13:00:00 1139.0
2005-09-07 14:00:00 1139.5
2005-09-07 15:00:00 1139.5
2005-09-07 16:00:00 1140.75
2005-09-07 17:00:00 1139.25
2005-09-07 18:00:00 1132.5
2005-09-07 19:00:00 1131.75
2005-09-07 20:00:00 1131.5
2005-09-07 21:00:00 1131.5

In [9]:
symbol = "ES"
exchange = Exchange.CME
interval = Interval.HOUR

barlist = []

for ix, row in es_df.iloc[0:30].iterrows():
    # print(ix, row)
    bar = BarData(
        symbol=symbol,
        exchange=exchange,
        interval=interval,
        datetime=row.DateTime,
        open_price=row.Open,
        high_price=row.High,
        low_price=row.Low,
        close_price=row.Close,
        volume=row.Volume,
        gateway_name="FR"
    )
    # print(bar)
    barlist.append(bar)

In [10]:
database_manager.save_bar_data(barlist)

Jinchao MongodbDatabase save_bar_data

In [15]:
start = datetime.datetime.strptime('20010901', "%Y%m%d")
end = datetime.datetime.strptime('20210220', "%Y%m%d")

read_barlist = database_manager.load_bar_data(
    symbol="ES",
    exchange=Exchange.CME,
    start=start,
    end=end,
    interval=Interval.HOUR
)

print(len(read_barlist))

Jinchao MongodbDatabase load_bar_data
30